keybinds clear-defaults=true {
    locked {
        bind "Alt ."       { SwitchToMode "Normal"; }
    }
    normal {
        bind "Alt ."       { SwitchToMode "Locked"; }
        bind "Alt H"       { MoveTab "left"; }
        bind "Alt J"       { MoveFocusOrTab "left"; }
        bind "Alt K"       { MoveFocusOrTab "right"; }
        bind "Alt L"       { MoveTab "right"; }
        bind "Alt V"       { NewTab; SwitchToMode "RenameTab"; }
        bind "Alt h"       { MoveFocusOrTab "left"; }
        bind "Alt j"       { MoveFocus "down"; }
        bind "Alt k"       { MoveFocus "up"; }
        bind "Alt l"       { MoveFocusOrTab "right"; }
        bind "Alt n"       { NextSwapLayout; }
        bind "Alt o"       { ToggleFloatingPanes; }
        bind "Alt v"       { NewPane "right"; }
        bind "Alt s"       { NewPane "down"; }
        bind "Alt ,"       {
            LaunchOrFocusPlugin "zellij:session-manager" {
                floating true;
            }
        }
        bind "Alt Shift /" {
            LaunchOrFocusPlugin "file:~/.config/zellij/zellij_forgot.wasm" {
                floating true
            }
        }
        bind "Alt 1"       { GoToTab 1; }
        bind "Alt 2"       { GoToTab 2; }
        bind "Alt 3"       { GoToTab 3; }
        bind "Alt 4"       { GoToTab 4; }
        bind "Alt 5"       { GoToTab 5; }
        bind "Alt 6"       { GoToTab 6; }
        bind "Alt 7"       { GoToTab 7; }
        bind "Alt 8"       { GoToTab 8; }
        bind "Alt 9"       { GoToTab 9; }
    }
    scroll {
        bind "j"           { ScrollDown; }
        bind "k"           { ScrollUp; }
        bind "d"           { HalfPageScrollDown; }
        bind "u"           { HalfPageScrollUp; }
        bind "e"           { EditScrollback; SwitchToMode "Normal"; }
        bind "/"           { SwitchToMode "EnterSearch"; }
    }
    entersearch {
        bind "Enter"       { SwitchToMode "Search"; }
        bind "esc"         { SwitchToMode "Scroll"; }
    }
    search {
        bind "c"           { SearchToggleOption "CaseSensitivity"; }
        bind "w"           { SearchToggleOption "Wrap"; }
        bind "o"           { SearchToggleOption "WholeWord"; }
        bind "Enter"       { SwitchToMode "EnterSearch"; }
        bind "esc"         { SwitchToMode "Scroll"; }
    }
    resize {
        bind "H"           { Resize "Decrease left"; }
        bind "J"           { Resize "Decrease down"; }
        bind "K"           { Resize "Decrease up"; }
        bind "L"           { Resize "Decrease right"; }
        bind "h"           { Resize "Increase left"; }
        bind "j"           { Resize "Increase down"; }
        bind "k"           { Resize "Increase up"; }
        bind "l"           { Resize "Increase right"; }
        bind "Alt r"       { SwitchToMode "Normal"; }
    }
    move {
        bind "h"           { MovePane "left"; }
        bind "j"           { MovePane "down"; }
        bind "k"           { MovePane "up"; }
        bind "l"           { MovePane "right"; }
        bind "v"           { NewPane; }
        bind "o"           { TogglePaneEmbedOrFloating; }
        bind "x"           { CloseFocus; }
        bind "r"           { SwitchToMode "RenamePane"; }
        bind "R"           { SwitchToMode "RenameTab"; }
        bind "Alt t"       { SwitchToMode "Normal"; }
    }
    shared_among "RenamePane" "RenameTab" {
        bind "Enter"       { SwitchToMode "Normal"; }
        bind "esc"         { SwitchToMode "Normal"; }
    }
    shared_except "Locked" "Scroll" {
        bind "Alt e"       { SwitchToMode "Scroll"; }
    }
    shared_except "Locked" "Move" {
        bind "Alt t"       { SwitchToMode "Move"; }
    }
    shared_except "Locked" "Resize" {
        bind "Alt r"       { SwitchToMode "Resize"; }
    }
    shared_except "Normal" "Locked" "EnterSearch" "Search" "RenamePane" "RenameTab" {
        bind "esc"         { SwitchToMode "Normal"; }
    }
}

plugins {
    welcome-screen location="zellij:session-manager" { welcome_screen true; }
    about location="zellij:about"
    compact-bar location="zellij:compact-bar"
    configuration location="zellij:configuration"
    filepicker location="zellij:strider" { cwd "/"; }
    plugin-manager location="zellij:plugin-manager"
    session-manager location="zellij:session-manager"
    status-bar location="zellij:status-bar"
    strider location="zellij:strider"
    tab-bar location="zellij:tab-bar"
    zjstatus location="file:~/.config/zellij/zjstatus.wasm"
}

show_startup_tips false

theme "main"
ui {
    pane_frames { rounded_corners true; }
}

scroll_buffer_size 1000000

copy_command "wl-copy"

mouse_mode true
mouse_hover_effects false
advanced_mouse_actions false
focus_follows_mouse true

session_serialization false
