.SonicWall/
.anydesk/
.asdf/
.bash_history
.bash_logout
.bash_profile
.bun/
.cache/
.cargo/
.claude-monitor/
.claude.json
.claude.json.backup
.claude/
.config/Code/
.config/HKModInstaller/
.config/QtProject.conf
.config/chromium/
.config/claude/
.config/dconf/
.config/discord/
.config/freerdp/
.config/go/
.config/gtk-3.0/
.config/hypr/perms.conf
.config/libreoffice/
.config/mimeapps.list
.config/mozilla/
.config/nemo/
.config/obs-studio/
.config/pavucontrol.ini
.config/pulse/
.config/qalculate/
.config/rclone/
.config/remmina/
.config/sqls/
.config/unity3d/
.config/user-dirs.dirs
.config/user-dirs.locale
.config/vlc/
.dotfiles/
.env
.histfile
.local/
.mozilla/
.node_repl_history
.npm/
.pki/
.pulse-cookie
.rustup/
.ssh/
.steam/
.steampath
.steampid
.vscode/
.wget-hsts
.wine/
.zcompdump
Desktop/
Documents/
Downloads/
Pictures/
games/
go/
proj/
