.SonicWall/
.anydesk/
.asdf/
.aspnet/
.bash_history
.bash_logout
.bash_profile
.bun/
.cache/
.cargo/
.claude-monitor/
.claude.json
.claude.json.backup
.claude/
.codex/
.config/Boosteroid Games S.R.L./
.config/Code/
.config/GIMP/
.config/HKModInstaller/
.config/JetBrains/
.config/NuGet/
.config/QtProject.conf
.config/Slippi Launcher/
.config/SlippiOnline/
.config/SlippiPlayback/
.config/Vial
.config/chromium/
.config/claude/
.config/dconf/
.config/discord/
.config/discordcanary/
.config/freerdp/
.config/go/
.config/gtk-3.0/
.config/hypr/perms.conf
.config/kdeglobals
.config/kdenliverc
.config/libreoffice/
.config/mimeapps.list
.config/mozilla/
.config/nemo/
.config/obs-studio/
.config/openrazer/
.config/pavucontrol.ini
.config/polychromatic/
.config/posting/
.config/pulse/
.config/qalculate/
.config/rclone/
.config/remmina/
.config/solaar/
.config/sqls/
.config/unity3d/
.config/user-dirs.dirs
.config/user-dirs.locale
.config/vlc/
.dotfiles/
.dotnet/
.env
.gnupg/
.histfile
.java/
.local/
.mozilla/
.node_repl_history
.npm/
.nuget/
.nvidia-settings-rc
.pki/
.pulse-cookie
.rustup/
.ssh/
.steam/
.steampath
.steampid
.storybook/
.templateengine/
.viminfo
.vscode/
.wdm/
.wget-hsts
.wine/
.zcompdump
Apps/
Desktop/
Documents/
Downloads/
Pictures/
RiderProjects/
Slippi/
Videos/
games/
go/
proj/
