[user]
    email = jonny@jwhit.dev
    name = Jonny Loughlin

[core]
    pager = delta
    excludesfile = ~/.gitignore_global

[interactive]
    diffFilter = delta --color-only

[delta]
    true-color = always
    navigate = true
    dark = true
    line-numbers = true
    side-by-side = false
    minus-style                   = syntax "#4a272f"
    minus-non-emph-style          = syntax "#4a272f"
    minus-emph-style              = syntax "#713137"
    minus-empty-line-marker-style = syntax "#4a272f"
    line-numbers-minus-style      = "#914c54"
    plus-style                    = syntax "#243e4a"
    plus-non-emph-style           = syntax "#243e4a"
    plus-emph-style               = syntax "#2c5a66"
    plus-empty-line-marker-style  = syntax "#243e4a"
    line-numbers-plus-style       = "#449dab"
    line-numbers-zero-style       = "#3b4261"

[alias]
    cm = commit
    st = status
    sti = status --ignored
    br = branch
    hist = log --graph --oneline --color
    df = diff 
    dfss = -c delta.side-by-side=true diff
    sw = switch

[merge]
    conflictstyle = zdiff3

[diff]
    algorithm = histogram
    renames = true
    colorMoved = default

[push]
	autoSetupRemote = true

